@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            +90 555 555 55 55
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Example Street No:11 Istanbul/Turkey
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            example@outlook.com
        </p>
    </div>
</div>
