@model IEnumerable<Category>

@if (Model.Count() > 0)
{
    <div class="my-4">
        <ul class="list-group">
            @foreach (var cat in Model)
            {
                <li class="list-group-item">
                    <a asp-action="Index" asp-route-categoryId="@cat.Id">@cat.Name</a>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div>
        <p>Category is not Found</p>
    </div>
}
